body{
    background-image: url("../Images/back.jpg");
    
}

nav{
    background-color:#faac87;
    font-weight: bolder;
    color:#fff0fd
}

.navbar-brand{
    font-size: x-large;
    padding: 7px 40px 7px 40px;
    font-weight: bolder;
}

.nav-link{
    color:#fff0fd
}

a:hover{
    color: hsl(288, 93%, 82%);
}

.card{
    background-color: #fff0fd;
    padding: 20px;
    margin-top: 20px;
}

form{
    background-color: #fff0fd;
    padding: 20px;
    margin-top: 20px;
}

button{
    align-self: auto;
}
/* 
footer{
  min-height: 100vh;
  justify-content: space-between;
} */

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
