.header-card {
  margin-bottom: 60px;
  display: flex;
}
h1{
    text-align: center;
}
/* ----------------Navbar Links------------- */

.nav-link {
  color: rgb(15, 15, 15);
}


ul {
  margin: 0px;
  padding: 0px 20px 0px 20px;
}

.divider {
  opacity: 0.3;
}

a:visited {
  color: rgb(173, 171, 171);
}

a:hover {
  color: rgb(73, 222, 233) !important;
}

a:active {
  color: rgb(73, 222, 233) !important;
}
