
body {

  background: linear-gradient(180deg, hsl(201, 72%, 80%) 0%, hsl(46, 74%, 79%) 100%);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-attachment: fixed;
}

h4 {
  text-align: center;
  justify-content: center;
}

.card{
  background-color: #e9c9e5;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

form{
  background-color: #e9c9e5;
  padding: 20px;
  margin-top: 20px;
}


.card-link{
  vertical-align: bottom;
}

.bottom-center { 
  bottom: 15px; 
  text-align: center;
  margin: 0px;
  padding: 0px 20px 0px 20px;
} 